@layer base {
  @font-face {
    font-family: 'FLEX-Sans';
    font-weight: 400;
    src: url(../fonts/PublicSans-Regular.woff) format('woff'),
      url(../fonts/PublicSans-Regular.woff2) format('woff2');
  }
  @font-face {
    font-family: 'FLEX-Sans';
    font-weight: 600;
    src: url(../fonts/PublicSans-Bold.woff) format('woff'),
      url(../fonts/PublicSans-Bold.woff2) format('woff2');
  }
  @font-face {
    font-family: 'FLEX-Sans';
    font-weight: 700;
    src: url(../fonts/PublicSans-Black.woff) format('woff'),
      url(../fonts/PublicSans-Black.woff2) format('woff2');
  }
}
