@import "fonts";
@import "patterns";
@import "person-block";

#app {
  position: relative;
}

.has-background {
  @apply p-4 md:p-8 #{!important};

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0 !important;
  }
}

.prose a {
  @apply decoration-sky;
}

.wp-block-image.is-style-rounded-corners img {
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
}

.wp-block-quote.is-style-default {
  @apply text-green font-semibold border-green not-italic text-xl lg:text-2xl;
}

.wp-block-quote.is-style-centered {
  @apply text-center text-blue font-bold text-3xl lg:text-4xl lg:leading-tight xl:leading-tight xl:text-5xl not-italic border-l-0;
}

.wp-block-quote.is-style-centered p::before,
.wp-block-quote.is-style-centered p::after {
  @apply text-green block text-left;
}

.wp-block-quote.is-style-centered p::after {
  @apply text-right;
}

.hidden-on-mobile {
  @apply hidden md:block;
}

#ez-toc-container {
  .single-project & {
    .ez-toc-title {
      display: none;
    }
  }
  .ez-toc-title {
    @apply text-2xl;
  }

  li {
    @apply mb-4 text-navy;
  }
}

.ez-toc-title {
  @apply text-xl font-bold mb-4;
}

.screen-reader-text {
  display: none;
}

.is-style-large {
  @apply text-2xl font-extrabold #{!important};
}

.is-style-small {
  @apply text-sm text-navy #{!important};
}

hr,
.wp-block-separator,
.prose hr {
  width: 40%;
  opacity: 1;
  @apply border-t-0 border-b-2 border-sky;

  &.is-style-wide {
    width: 100%;
  }
}

.prose hr {
  margin-left: 0 !important;
}

.wp-block-columns {
  @apply flex gap-4;
}

.wp-block-column {
  @apply flex-1;
}

.wp-block .wp-block-media-text {
  display: grid;
  grid-template-columns: 50% 1fr;

  .wp-block-media-text__content {
    padding: 0 8% 0 8%;
  }
}

.wp-block-buttons {
  @apply mb-4;
}

.wp-block-button .wp-block-button__link {
  @apply inline-block text-blue text-lg rounded-full bg-sky no-underline py-3 px-8 border-sky hover:border-blue border;
}

details {
  @apply mb-4 p-4 border border-blue;

  > div {
    @apply pt-6;
  }
}
summary {
  @apply bg-sky py-3 px-4 -m-4 text-blue cursor-pointer text-lg;
}

cite p::before,
cite p::after {
  content: none !important;
}

.nav-links {
  @apply mt-32 text-lg mx-auto max-w-4xl pt-4  border-blue justify-start space-x-8  flex justify-between;

  .current {
    @apply font-bold bg-sky;
  }

  .page-numbers {
    @apply py-1 px-2 rounded;
    &:hover {
      @apply bg-sky;
    }
  }

  .nav-previous,
  .nav-next {
    @apply inline-flex px-6 py-2 text-lg text-navy border-2 border-blue rounded-tr-none rounded-xl focus:outline-none hover:bg-sky;
  }
}
