@import "tailwindcss/base";

@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "common/global";

.prose > *:not(.alignwide, .alignfull) {
  @apply max-w-3xl;
}

.prose h2 {
  @apply text-blue;
}

.prose h3 {
  @apply text-green;
}

.alignfull img {
  @apply w-full;
}

.page-template-template-training #main-menu-container nav {
  display: none;
}

@media (min-width: 1536px) {
  .wp-block-lazyblock-tagged-posts,
  .wp-block-lazyblock-publication {
    max-width: 72rem !important;
  }
}
@media (min-width: 1280px) {
  .wp-block-lazyblock-tagged-posts,
  .wp-block-lazyblock-publication {
    max-width: 72rem !important;
  }
}
